<p class="d-flex justify-content-center w-25 mb-5", style="background-color: #EEEEEE; font-size: 24px;" ><strong>管理者</strong>ログイン</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row justify-content-center mb-3">
    <%= f.label :email, "メールアドレス", class: "col-2" %>
    <%= f.email_field :email, autofocus: true, placeholder: "管理者e-mail", class: "col-4" %>
  </div>

  <div class="row justify-content-center mb-3">
    <%= f.label :password, "パスワード", class: "col-2" %>
    <%= f.password_field :password, placeholder: "管理者パスワード", class: "col-4 mb-3" %>
  </div>
  <div class="row">
    <div class="col-5"></div>
  </div>
  
  <div class="actions row mb-5">
        <div class="col-5"></div>
          <%= f.submit "ログイン", class: "btn btn-md btn-primary px-5" %>
      </div>
  </div>
<% end %>

<%= render "admin/shared/links" %>
