<div class="container">
  <div class="row">
    <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
  </div>
  <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
  <%= render "admin/shared/error_messages", resource: @customer %>
    <div>
      <%= f.label :customer, "会員ID", class: "col-2" %>
        <%= @customer.id %>
    </div>
    <div>
      <%= f.label :last_name, "氏名", class: "col-2" %>
        <%= f.text_field :last_name, autofocus: true, class: "col-3" %>
        <%= f.text_field :first_name, class: "col-3" %>
    </div>
    <div>
      <%= f.label :last_name_kana, "フリガナ", class: "col-2" %>
        <%= f.text_field :last_name_kana, class: "col-3" %>
        <%= f.text_field :first_name_kana, class: "col-3" %>
    </div>
    <div>
      <%= f.label :postcode, "郵便番号", class: "col-2" %>
        <%= f.text_field :postcode, class: "col-3" %>
    </div>
    <div>
      <%= f.label :address, "住所", class: "col-2" %>
        <%= f.text_field :address, class: "col-8" %>
    </div>
    <div>
      <%= f.label :phone_number, "電話番号", class: "col-2" %>
        <%= f.text_field :phone_number, class: "col-3" %>
    </div>
    <div>
      <%= f.label :email, "メールアドレス", class: "col-2" %>
        <%= f.text_field :email, class: "col-3" %>
    </div>
    <div>
      <%= f.label :customer_status, "会員ステータス", class: "col-2" %>
        <%= f.radio_button :customer_status, :false, checked: true %>
        <%= f.label :customer_status, "有効" %>
        <%= f.radio_button :customer_status, :true, class: "ml-3" %>
        <%= f.label :customer_status, "退会" %>
    </div>
    <%= f.submit "変更を保存", class: "btn btn-success btn-md" %>
  <% end %>
</div>