<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <h3 class="d-flex justify-content-left mb-5">配送先登録/一覧</h3>
  </div>
  <%= form_with model: @address do |f| %>
    <%= render "public/shared/error_messages", resource: @address %>
    <div class="field row mb-2">
      <%= f.label :postcode,"郵便番号(ハイフンなし)", class: "col-3" %>
      <%= f.text_field :postcode, class: "col-3", placeholder: "1234567" %>
    </div>
    <div class="field row mb-2">
      <%= f.label :address,"住所", class: "col-3" %>
      <%= f.text_field :address, class: "col-7", placeholder: "ホグワーツ" %>
    </div>
    <div class="field row mb-2">
      <%= f.label :address_name,"宛名", class: "col-3" %>
      <%= f.text_field :address_name, class: "col-3", placeholder: "宛名" %>
      <div class="col-4"></div>
      <div class="actionss col-3">
        <%= f.submit "新規登録",class: 'btn btn-success btn-md' %>
      </div>
    </div>
    <% end %>
</div>
