<%= render "layouts/errors", obj: @order %>
<h4 class="mt-5 mb-5">注文情報入力</h4>
<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
  <strong>支払方法</strong>
  <div class="form-group ml-4">
    <%= f.radio_button :payment, Order.payments.key(0) %>
    <%= f.label :payment, "クレジットカード" %><br>
    <%= f.radio_button :payment, Order.payments.key(1) %>
    <%= f.label :payment, "銀行振込" %>
  </div>
  <strong>お届け先</strong>
  <div class="form-group ml-4" >
    <%= f.radio_button :select_address, 0, checked: true %>
    <%= f.label :select_address, "ご自身の住所" %>
    <div class="ml-3">
      〒<%= current_customer.postcode %> <%= current_customer.address %><br>
      <%= current_customer.last_name %><%= current_customer.first_name %>
    </div>
  </div>
  <div class="form-group ml-4">
    <%= f.radio_button :select_address, 1 %>
    <%= f.label :select_address, "登録済住所から選択" %><br>
    <div class="ml-3">
      <%= f.select :address_id, options_from_collection_for_select(current_customer.shipping_addresses, :id, :address_display) %>
    </div>
  </div>
  <div class="form-group ml-4">
    <%= f.radio_button :select_address, 2 %>
    <%= f.label :select_address, "新しいお届け先" %>
    <div class="ml-3" >
      <div class="field row mb-2">
        <%= f.label :order_postcode,"郵便番号(ハイフンなし)", class: "col-3" %>
        <%= f.text_field :order_postcode, class: "col-3", placeholder: "0000000" %>
      </div>
      <div class="field row mb-2">
        <%= f.label :order_address,"住所", class: "col-3" %>
        <%= f.text_field :order_address, class: "col-7", placeholder: "東京都渋谷区代々木神園町0-0" %>
      </div>
      <div class="field row mb-2">
        <%= f.label :order_address_name,"宛名", class: "col-3" %>
        <%= f.text_field :order_address_name, class: "col-3", placeholder: "令和道子" %>
      </div>
    </div>
  </div>
  <div class="form-group text-center">
    <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
  </div>
<% end %>