<div class="container">
<%= render "layouts/errors", obj: @cart_item %>
    <div class="row">
        <div class="col-lg-2">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-center" >ジャンル検索</th>
                </tr>
              </thead>
              <tbody>
                <% @genres.each do |genre| %>
                  <tr><td><%= link_to genre.genre_name, searches_path(content: genre.genre_name), class: "text-dark text-decoration-none" %></td></tr>
                <% end %>
              </tbody>
            </table>
        </div>
        <div class="col-lg-8">
                <%= image_tag @item.get_image(300, 200) %>
            <div class="d-inline-block mx-3">
                <h2><%= @item.item_name %></h2>
                <h3><%= @item.item_body %></h3>
                <h3><%= number_with_delimiter @item.taxed_price %>(税込)</h3>
                <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
                    <%= f.hidden_field :item_id, :value => @item.id %>
                    <%= f.select :amount, *[1..10], include_blank: "個数選択" %>
                    <%= f.submit 'カートに入れる' %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<a href="#" class="link-info">Info link</a>